/*Full page CSS*/
main {
    flex: 1 0 auto;
    margin-top: 64px;
    overflow-y: auto;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Home message CSS*/

#home-message {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#home-message .row {
    width: 100%;
    height: 30vh;
}

#home-message mat-card {
    width: 100%;
}

#home-message-title {
    font-size: 2rem;
    font-weight: 550;
    text-align: center;
}

#home-message-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vh;
}

#home-message-button span.mdc-button__label {
    color: white;
}

#home-message-text {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.15;
}

/*App toolbar CSS*/
#app-toolbar {
    width: 100%;
    z-index: 1000;
    height: auto;
}

/*Home features CSS*/

#home-features {
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
}
