<mat-toolbar color="primary" class="mt-5" id="app-toolbar">
    <div class="container d-flex align-items-center gap-5">
        <!-- Left side: App name -->
        <span class="fw-bold fs-1">OverEngineered To-Do</span>

        <!-- Right side: Nav links -->
        <nav class="d-flex gap-5 mt-2">
            @for (routerLink of routerLinks; track routerLink.path) {
            <!-- The solution below is terrible but for the moment it
                 will skip showing the update route as a part of the navbar -->
            @if (routerLink.path !== "update/:id") {
            <button mat-stroked-button [routerLink]="'/' + routerLink.path">
                {{ routerLink.title }}
            </button>
            } }

            <!--Dark mode toggle-->
            <button
                mat-icon-button
                aria-label="Toggle dark mode"
                (click)="toggleDarkTheme()"
                class="theme-toggle-button"
            >
                <mat-icon [class.theme-toggle]="isDarkTheme">
                    {{ isDarkTheme ? 'brightness_7' : 'brightness_4' }}
                </mat-icon>
            </button>
        </nav>
    </div>
</mat-toolbar>

<router-outlet />

<footer class="bg-light py-4 mt-5 border-top">
    <div class="container text-center text-muted">
        © 2025 Goofy little project by a cuple of friends. Built with Angular,
        Angular Material, Bootstrap, and a sprinkle of over-engineering.
    </div>
</footer>
