/* Light mode variables (default) */
:root {
  --bg-color: #D4E6F1;
  --primary-text-color: #212529;
  --secondary-text-color: #6c757d;
  --primary-color: #A2C2E0;
  --accent-color: #B7D9E8;
  --warning-color: #154af8;
  --card-bg-color: #E1F0F6;
}

/* Dark mode variables */
.dark-theme {
  --bg-color: #2C2C2C;
  --primary-text-color: #E4E4E4;
  --secondary-text-color: #9e9e9e;
  --primary-color: #9f4646;
  --accent-color: #FFC1CC;
  --warning-color: #dc3545;
  --card-bg-color: #1e1e1e;
}

/* Use variables throughout your CSS */

body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

.text-muted {
  color: var(--secondary-text-color) !important;
}

#app-toolbar {
  background-color: var(--bg-color);
  color: var(--bg-color);
}

mat-card {
  background-color: var(--card-bg-color) !important;
  color: var(--primary-text-color);
}

/* Buttons */
button[mat-raised-button],
button[mat-flat-button] {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

button[mat-stroked-button] {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

button[mat-raised-button][color="warn"],
button[mat-flat-button][color="warn"] {
  background-color: var(--warning-color);
  color: var(--bg-color);
}

.mdc-button__label {
  color: var(--primary-text-color);
}

/* Regular mat-button in dark theme */
.dark-theme button[mat-button]:hover {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

/* Stroked button in dark theme */
.dark-theme button[mat-stroked-button]:hover {
  border-color: var(--accent-color);
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

/* Icon button in dark theme */
.dark-theme button[mat-icon-button]:hover {
  outline: 2px solid var(--primary-color);
  outline-offset: 3px;
}

.theme-toggle-button:hover {
  outline: 2px solid var(--primary-color);
  outline-offset: 3px;
}




/* Some custom stuff */

.mat-icon {
  color: var(--primary-text-color);
}

.mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.fw-bold{
  color: var(--primary-text-color)!important;
}
.container{
  background-color: var(--bg-color);

}
.bg-light{
  background-color: var(--card-bg-color)!important;
}

.container.text-center.text-muted {
  background-color: var(--card-bg-color)!important;
}


/*Dark theme animation thingy*/
body, 
mat-card,
button,
.container,
#app-toolbar {
  transition: background-color 0.3s ease, color 0.3s ease;
}

mat-icon {
  transition: transform 0.3s ease;
}

mat-icon.theme-toggle {
  transform: rotate(180deg);
}

