<form [formGroup]="taskFormGroup" (ngSubmit)="onSubmit()" class="task-form">
    <mat-card>
        <mat-card-title>Update Task</mat-card-title>

        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" />
            @if(titleControl?.errors?.['required']) {
            <mat-error> Title is a required input </mat-error>
            } @if(titleControl?.errors?.['minlength']) {
            <mat-error>
                Title must be at least {{
                titleControl?.errors?.['minlength'].requiredLength }} characters
            </mat-error>
            } @if(titleControl?.errors?.['maxlength']) {
            <mat-error>
                Title cannot exceed {{
                titleControl?.errors?.['maxlength'].requiredLength }} characters
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            @if(descriptionControl?.errors?.['maxlength']) {
            <mat-error>
                Description cannot exceed {{
                descriptionControl?.errors?.['maxlength'].requiredLength }}
                characters
            </mat-error>
            }
        </mat-form-field>

        <mat-checkbox formControlName="hasDeadline">
            Add deadline?
        </mat-checkbox>

        @if(hasDeadlineControl?.value) {
        <mat-form-field appearance="fill">
            <mat-label>Task deadline date</mat-label>
            <input
                matInput
                [matDatepicker]="datePicker"
                formControlName="deadlineDate"
            />
            <mat-datepicker-toggle
                matSuffix
                [for]="datePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
            @if(deadlineDateControl?.errors?.['deadlineDateAhead']) {
            <mat-error>
                Deadline date has to be today or a future date </mat-error
            >}
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Task deadline time</mat-label>
            <input
                matInput
                [matTimepicker]="timePicker"
                formControlName="deadlineTime"
            />
            <mat-timepicker-toggle
                matSuffix
                [for]="timePicker"
            ></mat-timepicker-toggle>
            <mat-timepicker #timePicker></mat-timepicker>
            @if(deadlineTimeControl?.errors?.['deadlineTimeAhead']) {
            <mat-error>
                Deadline time has to be an hour ahead of current time
            </mat-error>
            }
        </mat-form-field>
        } @if (tags.length === 0) {
        <p>Loading task states...</p>
        } @else {
        <mat-form-field appearance="fill">
            <mat-label>Task States</mat-label>
            <mat-select formControlName="taskStates">
                @for (taskState of taskStates; track taskState.id) {
                <mat-option [value]="taskState.id">
                    {{ taskState.name }}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
        } @if (tags.length === 0) {
        <p>Loading task tags...</p>
        } @else {
        <div formArrayName="tags">
            <mat-label>Task tags:</mat-label>
            @for(tag of tags; track tag.id; let i = $index) {
            <mat-checkbox [formControlName]="i"> {{ tag.name }} </mat-checkbox>
            }
        </div>
        }

        <div>
            <button
                matButton="filled"
                type="submit"
                [disabled]="taskFormGroup.invalid"
            >
                Update
            </button>
        </div>
    </mat-card>
</form>
