@use '@angular/material' as mat;
@use './../../../theme-variables' as *;

.chart-container {
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: mat.m2-get-color-from-palette(
        $light-primary,
        50
    ); // Light background
    border-radius: 0.75rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
}

.chart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: mat.m2-get-color-from-palette($light-primary, 900);
    margin-bottom: 0.5rem;
}

#task-line-chart {
    display: block;
    width: 100%;
    height: 600px;
    transition: background-color 0.3s ease;
}

:host-context(.dark-theme) {
    .chart-container {
        background-color: mat.m2-get-color-from-palette($dark-primary, 700);
        box-shadow: 0 4px 12px rgba(255, 255, 255, 0.15);
    }

    .chart-title {
        color: mat.m2-get-color-from-palette($dark-primary, 100);
    }

    #task-line-chart {
        background-color: mat.m2-get-color-from-palette($dark-primary, 600);
    }
}

.chart-container {
    .chart-title {
        font-size: 1.6rem;
        font-weight: 600;
    }

    #task-line-chart {
        border: 1px solid mat.m2-get-color-from-palette($light-primary, 300);
    }
}

:host-context(.dark-theme) {
    .chart-container {
        border: 1px solid mat.m2-get-color-from-palette($dark-accent, 400);
    }

    #task-line-chart {
        border: 1px solid mat.m2-get-color-from-palette($dark-accent, 400);
    }
}
