<form [formGroup]="taskFormGroup" (ngSubmit)="onSubmit()" class="task-form">
    <mat-card>
        <mat-card-title>Add New Task</mat-card-title>

        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <mat-checkbox
            [(ngModel)]="hasDeadline"
            [ngModelOptions]="{standalone: true}"
        >
            Add deadline?
        </mat-checkbox>

        @if (hasDeadline) {
        <mat-form-field appearance="fill">
            <mat-label>Task deadline</mat-label>
            <input
                matInput
                [matDatepicker]="picker"
                formControlName="deadline"
            />
            <mat-datepicker-toggle
                matSuffix
                [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        } @if (tags.length === 0) {
        <p>Loading task tags...</p>
        } @else {
        <div formArrayName="tags">
            <mat-label>Task tags:</mat-label>
            @for(tag of tags; track tag.id; let i = $index) {
            <mat-checkbox [formControlName]="i"> {{ tag.name }} </mat-checkbox>
            }
        </div>
        }

        <div class="form-btn-container">
            <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="taskFormGroup.invalid"
            >
                Add
            </button>
        </div>
    </mat-card>
</form>
