<form [formGroup]="filterTaskFormGroup">
    <mat-form-field appearance="fill">
        <mat-label>Search for term:</mat-label>
        <input matInput formControlName="searchTerm" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Deadline start:</mat-label>
        <input
            matInput
            [matDatepicker]="dateStartPicker"
            formControlName="deadlineStart"
        />
        <mat-datepicker-toggle
            matSuffix
            [for]="dateStartPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #dateStartPicker></mat-datepicker>
        @if(filterTaskFormGroup.controls.deadlineStart.errors?.['startDateBeforeEndDate'])
        {
        <mat-error> Deadline start date can't be after end date </mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Deadline end:</mat-label>
        <input
            matInput
            [matDatepicker]="dateEndPicker"
            formControlName="deadlineEnd"
        />
        <mat-datepicker-toggle
            matSuffix
            [for]="dateEndPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #dateEndPicker></mat-datepicker>
        @if(filterTaskFormGroup.controls.deadlineEnd.errors?.['startDateBeforeEndDate'])
        {
        <mat-error> Deadline end date can't be after end date </mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Created at start:</mat-label>
        <input
            matInput
            [matDatepicker]="createdAtStartPicker"
            formControlName="createdAtStart"
        />
        <mat-datepicker-toggle
            matSuffix
            [for]="createdAtStartPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #createdAtStartPicker></mat-datepicker>
        @if(filterTaskFormGroup.controls.createdAtStart.errors?.['startDateBeforeEndDate'])
        {
        <mat-error> Created at start date can't be after end date </mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Created at end:</mat-label>
        <input
            matInput
            [matDatepicker]="createdAtEndPicker"
            formControlName="createdAtEnd"
        />
        <mat-datepicker-toggle
            matSuffix
            [for]="createdAtEndPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #createdAtEndPicker></mat-datepicker>
        @if(filterTaskFormGroup.controls.createdAtEnd.errors?.['startDateBeforeEndDate'])
        {
        <mat-error> Created at end date can't be after end date </mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Task States</mat-label>
        <mat-select formControlName="taskStateName">
            <mat-option [value]="''">All States</mat-option>
            @for (taskState of taskStates; track taskState.id) {
            <mat-option [value]="taskState.name">
                {{ taskState.name }}
            </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <div class="tags-section" formArrayName="selectedTags">
        <div class="tags-label">Tags:</div>
        <div class="tags-checkbox-group">
            @for(tag of tags; track tag.id; let i = $index) {
            <mat-checkbox [formControlName]="i"> {{ tag.name }} </mat-checkbox>
            }
        </div>
    </div>
</form>
