<form [formGroup]="filterTaskFormGroup">
    <mat-form-field appearance="fill">
        <mat-label>Search for term:</mat-label>
        <input matInput formControlName="searchTerm" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Enter deadline date range:</mat-label>
        <mat-date-range-input
            [rangePicker]="deadlinePicker"
            [formGroup]="filterTaskFormGroup.controls.deadlineRange"
        >
            <input
                matStartDate
                placeholder="Start deadline"
                formControlName="start"
            />
            <input
                matEndDate
                placeholder="End deadline"
                formControlName="end"
            />
        </mat-date-range-input>

        <mat-datepicker-toggle
            matIconSuffix
            [for]="deadlinePicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #deadlinePicker> </mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Enter created at date range:</mat-label>
        <mat-date-range-input
            [rangePicker]="createdAtPicker"
            [formGroup]="filterTaskFormGroup.controls.createdAtRange"
        >
            <input
                matStartDate
                placeholder="Start created at"
                formControlName="start"
            />
            <input
                matEndDate
                placeholder="End created at"
                formControlName="end"
            />
        </mat-date-range-input>

        <mat-datepicker-toggle
            matIconSuffix
            [for]="createdAtPicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #createdAtPicker> </mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Task States</mat-label>
        <mat-select formControlName="taskStateName">
            <mat-option [value]="''">All States</mat-option>
            @for (taskState of taskStates; track taskState.id) {
            <mat-option [value]="taskState.name">
                {{ taskState.name }}
            </mat-option>
            }
        </mat-select>
    </mat-form-field>

    <div class="tags-section" formArrayName="selectedTags">
        <div class="tags-label">Tags:</div>
        <div class="tags-checkbox-group">
            @for(tag of tags; track tag.id; let i = $index) {
            <mat-checkbox [formControlName]="i"> {{ tag.name }} </mat-checkbox>
            }
        </div>
    </div>
</form>
