table {
  margin-left: auto;
  margin-right: auto;
  width:80vw;
  min-height: 65vh;
}

table th {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
}

table td {
  background-color: var(--card-bg-color);
  color: var(--primary-text-color);
} 