name: .NET CI Pipeline

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]
    workflow_dispatch:

jobs:
    format-check:
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: ./backend

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: "9.0.x"

            - name: Install csharpier
              run: dotnet tool install -g csharpier

            - name: Format check for Backend.API
              run: csharpier check ./Backend.API

            - name: Format check for Backend.Application
              run: csharpier check ./Backend.Application

            - name: Format check for Backend.Domain
              run: csharpier check ./Backend.Domain

            - name: Format check for Backend.Infrastructure
              run: csharpier check Backend.Infrastructure

            - name: Format check for Backend.Shared
              run: csharpier check ./Backend.Shared

            - name: Format check for Backend.UnitTests
              run: csharpier check ./Backend.UnitTests

    build-and-test:
        runs-on: ubuntu-latest
        needs: format-check

        defaults:
            run:
                working-directory: ./backend/Backend.UnitTests

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: "9.0.x"

            - name: Restore dependencies
              run: dotnet restore

            - name: Build
              run: dotnet build --no-restore

            - name: Run tests
              run: dotnet test --no-build
